@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins&family=Roboto&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   
 font-family: 'Poppins', sans-serif;
 font-family: 'Roboto', sans-serif;

}

body{
  
  /* background:url("../../public/svg/Desktop\ -\ 1.png"); */
}

.map {
  filter: grayscale(100%);         
}